.btn {
	padding: .5em 1em;
	border: 2px solid white;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
	text-transform: uppercase;
	outline: none;

	&:hover {
		font-weight: bold;
	}
}

.btn-float-right {
	float: right;
}

.btn-color-green {
	background-color: green;
	color: white;
}

.btn-outline-primary {
	border: 2px solid rgb(47, 91, 169);

	&:hover {
		border: 2px solid rgb(20,40,80);
		background-color: rgb(20,40,80);
		color: white;
	}
}

.btn-shape-circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-weight: bold;

	&:hover {
		color: white;
		background: rgb(234,114,140);
		background: radial-gradient(circle, rgba(234,114,140,1) 30%, rgba(234,114,140,0.5) 100%);
	}
}



