.city-page {
	width: 100%;
	padding: 1em;

	h2 {
		color: white;
	}

	.city-page-header {
		display: flex;
		justify-content: space-between;
		padding: 1.5em;

		h2 {
			margin-top: 0;
		}
	}

	.list-container {
		margin: 2em;
		height: 100%;

		h2 {
			text-align: center;
		}
	}
}