.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 200px;
	bottom: auto;
	min-width: 300px;
	max-width: 500px;
	height: 470px;
	max-height: 470px;
	padding: 30px;
	border-radius: 5px;
	background-color: white;
	outline: none;
	transform: translate(-50%, -50%);
}

.modal-overlay {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 40, 80, 0.3);
}

.clear-fix {
	overflow: hidden;

	.btn {
		margin-bottom: 2rem;
	}
}

.list-container {
	height: 305px;

	.info {
		text-align: center;
	}
}

.searchbar-container {
	position: relative;

	.caret {
		width: 10px;
		height: 10px;
		position: absolute;
		right: 18px;
		top: 13px;
		cursor: pointer;
		border-top: 2px solid rgb(47, 91, 169);;
		border-right: 2px solid rgb(47, 91, 169);;
		transform: rotate(135deg);
		border-radius: 2px;
	}
}