.city-item {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px 1.5em;
	margin-bottom: 1em;
	cursor: pointer;
	position: relative;

	.city-item-name {
		flex: 0 1 70%;

		h4 {
			margin-bottom: 0;
		}
	}

	.city-item-weather {
		display: flex;
		flex: 0 0 25%;
		justify-content: space-between;

		img {
			min-width: 100px;
		}

		.item-weather-temp {
			text-align: center;

			span {
				padding: 0 5px;
			}
		}
	}

	.btn-delete {
		position: absolute;
		right: 10px;
	}
}