h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

h1 {
	margin-top: 0;
}

.App {
	/*background-color: #142850;*/
	background: rgb(20,40,80);
    background: linear-gradient(180deg, rgba(20,40,80,1) 50%, rgba(39,73,109,1));
	min-height: 100vh;
}
